body
{
    background: #f1f1f1;
    color: #444;
    display: block;
}
h1
{
    text-align: center;
}
.message
{
    color: #f00;
    font-size: 12px;
}

/*专辑列表页*/
#divAction
{
    width: 1000px;
    border: 1px solid #ddd;
    background: #fff;
    height: 30px;
    margin-bottom: 25px;
    padding: 14px;
}
#divAction .message
{
    float: right;
    margin-right: 12px;
}
#divAlbumList
{
    width: 400px;
    height: 600px;
    float: left;
}
#divAlbumList table
{
    width: 360px;
    border: 1px solid #ddd;
    border-spacing: 0px;
    background: #fff;
    text-align: center;
}
#divAlbumList th
{
    border: 1px solid #ddd;
    padding: 7px;
}
#divAlbumList td
{
    border: 1px solid #ddd;
    padding: 7px;
}
#divAlbumList td img
{
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    background: #f1f1f1;
}
#divAlbumContent
{
    height: 560px;
    margin-top: -2px;
    overflow-x: hidden;
    overflow-y: auto;
}
#divAlbumContent .chbList
{
    text-align: center;
}
#divPicList
{
    width: 600px;
    height: 600px;
    border: 1px solid #ddd;
    float: left;
    overflow: auto;
    background: #fff;
    margin-left: 20px;
}
#divPicList .imgItem
{
    float: left;
    width: 140px;
    margin-left:3px;
    margin-top:12px;
}
#divPicList img
{
    width: 100px;
}

/*登录页样式*/
#loginPanel
{
    padding-top: 12%;
}
#loginPanel form
{
    background: #fff;
    margin: auto;
    height: 220px;
    width: 320px;
    padding: 7px 24px 46px;
    font-family: 微软雅黑;
    font-size: 14px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
#loginPanel .textbox
{
    background: #fbfbfb;
    padding: 3px;
    width: 240px;
    margin-left: 7px;
    margin-top: 7px;
    height: 30px;
    border: 1px solid #ddd;
}
#loginPanel .submit
{
    text-align: center;
}
#loginPanel .submit input
{
    margin-top: 7px;
    padding: 0px 12px,2px,12px;
    height: 30px;
    background: #2ea2cc;
    border: 1px solid #0074a2;
    color: #fff;
}
